<!-- <p>
  reservation works!
</p> -->
<!-- air-for-share How it works Download Feedback Login / Register Text -->

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">RESERVATION</h4>

        <form class="form" [formGroup]="reservationForm">

          <div class="form-group row">
            <label for="example-month-input" class="col-2 col-form-label">From</label>
            <div class="col-10">
              <select class="custom-select col-12" formControlName="from">
                <option value="Karachi">Karachi</option>
                <option value="Lahore">Lahore</option>
                <option value="Faisalabad">Faisalabad</option>
                <option value="Multan">Multan</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="example-month-input" class="col-2 col-form-label">To</label>
            <div class="col-10">
              <select class="custom-select col-12" formControlName="to">
                <option value="Karachi">Karachi</option>
                <option value="Lahore">Lahore</option>
                <option value="Faisalabad">Faisalabad</option>
                <option value="Multan">Multan</option>

              </select>
            </div>
          </div>



          <div class="form-group row">
            <label for="example-url-input" class="col-2 col-form-label">Date</label>
            <div class="col-10">
              <input class="form-control" type="date" formControlName="departure">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-url-input" class="col-2 col-form-label">First Name</label>
            <div class="col-10">
              <input class="form-control" type="text" formControlName="firstName">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-url-input" class="col-2 col-form-label">Last Name</label>
            <div class="col-10">
              <input class="form-control" type="text" formControlName="lastName">
            </div>
          </div>

          <!-- <div class="form-group row">
            <label for="example-url-input" class="col-2 col-form-label">NoOfSeats</label>
            <div class="col-10">
              <input class="form-control" type="number" formControlName="NoOfSeats">
            </div>
          </div> -->

          <!-- TABLE -->


          <!-- <div class="row">
          
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Select Flight</h4>

                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Flight Name</th>
                          <th>Flight Code</th>
                          <th>Arrival Time</th>
                          <th>Departure Time</th>
                          <th>Ticket Price</th>
                          
                        </tr>
                      </thead>
                      <tbody>

                        <tr>
                          <td>1</td>
                          <td>Deshmukh</td>
                          <td>Prohaska</td>
                          <td>@Genelia</td>
                          <td>
                            <span class="label label-danger">admin</span>
                          </td>
                          <td>@Genelia</td>                          
                        </tr>

                        <tr>
                          <td>2</td>
                          <td>Deshmukh</td>
                          <td>Gaylord</td>
                          <td>@Ritesh</td>
                          <td>
                            <span class="label label-info">member</span>
                          </td>
                          <td>@Genelia</td>                          
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <p>Total Price</p>

          <div class="form-group row">
            <label for="example-url-input" class="col-2 col-form-label">FirstName</label>
            <div class="col-10">
              <input class="form-control" type="text" formControlName="FirstName">
            </div>
          </div>


          <div class="form-group row">
            <label for="example-url-input" class="col-2 col-form-label">LastName</label>
            <div class="col-10">
              <input class="form-control" type="text" formControlName="SurName">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-url-input" class="col-2 col-form-label">Wallet Id</label>
            <div class="col-10">
              <input class="form-control" type="text" formControlName="WalletId">
            </div>
          </div> -->


        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-info waves-effect" data-dismiss="modal" (click)="save()" [disabled]="reservationForm.status=='INVALID'">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>